body{
    background-color: #E9E9E9;
    cursor: url('images/cursor.png') 10 10, auto;
    overflow: hidden;
}

a:hover {
    cursor: url('images/cursor.png') 10 10, auto;
}

#container{
    width: 1200px;
    height: 750px;
    /* overflow: hidden; */
    position: relative;
    margin: auto;
    transform-origin: top center;
}

/* glowing on hover */
#container a img, #right-button {
    transition: all 0.3s ease; 
}

#container a:hover img, #right-button:hover {
    filter: drop-shadow(0 0 8px #36BFED)  
}

main{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 16px;
    left:0;
    top:0;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    transition: left 0.5s ease, right 0.5s ease;
}

ul {
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 4px;
}

#bottom {
    position: fixed;        
    left: 0;
    bottom:0;                
    width: 100vw;          
    height: auto;
    z-index: 0;
}


#left, #right {
    position: fixed;
    bottom: 2vh;
    width: 15vw;   
    height: auto;
}
#left {
    left: 0;
}
#right {
    right: 0;
}

#left-button, #right-button {
    position: fixed;
    bottom: 4vh;
    width: 8vw;   
    height: auto;
}

#left-button {
    left: 6vw;
}

#right-button {
    right: 6vw;
}

#name {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 22vw; 
    height: auto;
}


#class {
    position: fixed;
    bottom: 21vh;
    left: 50%;
    transform: translateX(-50%);
    width: 14vw;  
    height: auto;
}

#arrow-right {
    position: absolute;
    right:20px;
    bottom: 50%;
    z-index: 6;
}

#arrow-left {
    position: absolute;
    left:20px;
    bottom: 50%;
    transform: rotate(180deg);
    z-index: 6;
    display: none;
}

footer a {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    z-index: 9;
    margin: 0;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}