body{
    background-color: #E9E9E9;
    cursor: url('images/cursor.png') 10 10, auto;
}

#container{
    width: 1200px;
    height: 750px;
    /* overflow: hidden; */
    position: relative;
    margin: auto;
}

main{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 16px;
    left:0;
    top:0;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    transition: left 0.5s ease, right 0.5s ease;
}

ul {
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 4px;
}

#bottom {
    position: fixed;        
    left: 0;
    bottom:0;                
    width: 100vw;          
    height: auto;
    z-index: 0;
}

#left {
    position: fixed;
    bottom:20px;
    left:0;
    z-index: 1;
}

#left-button {
    position: fixed;
    bottom:30px;
    left:90px;
    z-index: 2;
}

#right {
    position: fixed;
    bottom:20px;
    right:0;
    z-index: 1;
}

#right-button {
    position: fixed;
    bottom:30px;
    right:90px;
    z-index: 2;
}

#name {
    position: fixed;
    bottom:40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

#class {
    position: fixed;
    bottom:150px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

#arrow-right {
    position: absolute;
    right:10px;
    bottom: 50%;
    z-index: 6;
}

#arrow-left {
    position: absolute;
    left:10px;
    bottom: 50%;
    transform: rotate(180deg);
    z-index: 6;
    display: none;
}